.card-dashboard-kelas {
  margin-bottom: 15px;

  .card-body {
    .kelas-title {
      font-weight: normal;
      font-size: 18px;
      color: #0c0d36;
      margin-bottom: 10px;
    }

    .kelas-subtitle {
      font-weight: normal;
      font-size: 12px;
      color: #c4c4c4;
    }

    .kelas-deadline {
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      color: #383e56;
    }
  }

}
