.input-search {
    height: 56px;
    background: #FEFEFE;
    box-shadow: 0px 4px 15px #f1f1f8;
    border-radius: 12px;
    border: none;
    text-decoration: none !important;
}

.kategori-artikel {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    .title-kategori {
        font-weight: 500;
        font-size: 16px;
        line-height: 262.8%;
        text-align: center;
        color: #383E56;
    }
}

.kategori-artikel.active {
    background: #6A1D25;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    .title-kategori {
        font-weight: 500;
        font-size: 16px;
        line-height: 262.8%;
        text-align: center;
        color: #FFF;
    }
}